body, html, #root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.UI {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  align-content: center;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0);
  visibility: hidden;
  transition-duration: 0.5s;
}
.sidePanel {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 10vh;
  background: #0e0e0e;
  box-sizing: border-box;
  border-color: gainsboro;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;

}
/* .mainCanvas { */
/*   height: 80vh; */
/* } */
.PDF {
  display: flex;
  height: 85vh;
  aspect-ratio: 1.414/1;
  background: #0e0e0e;
  border: gainsboro solid 1px;
  transition-duration: 0.5s;
  opacity: 0%;
}
.closeButton {
  display: flex;
  background: white;
  height: 2vw;
  aspect-ratio: 1/1;

}

canvas {
  z-index: -5;
}
