@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Apple Garamond;
  src: url("assets/Fonts/AppleGaramond.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Instrument Sans;
  src: url("assets/Fonts/InstrumentSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Instrument Serif;
  src: url("assets/Fonts/InstrumentSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  all: unset;
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
body {
  width: 100vw;
  height: 100vh;
  max-height: 100svh;
  background-color: oklch(0.1638 0 0);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
}

#root {
  width: 100vw;
  height: fit-content;
  max-height: 100svh;
  background-color: oklch(0.1638 0 0);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  overflow: hidden;
}

.UI {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  align-content: center;
  z-index: 95;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  transition-duration: 0.7s;
  visibility: hidden;
  backdrop-filter: blur(20px);
}
.sidePanel {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-column: span 2 / span 2;
  position: relative;
  width: 100vw;
  min-height: 10svh;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  background: oklch(0.1638 0 0);
  box-sizing: border-box;
  z-index: 80;
  transition-duration: 1s;
  transition: overflow 1s ease-in-out 5s,
  min-height 1s ease-in-out, 
  grid-template-columns 1s ease-in-out;
  overflow: hidden;
}

.sidePanelLoad {
  grid-template-columns: 1fr 0fr;
  min-height: 100vh;
  overflow:hidden;

}

.sidePanelContent {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Apple Garamond;
  border-radius: 6px;
  flex-grow: 1;
  align-content: center;
  align-items: end;
  justify-items: center;
  justify-content: center;
  max-height: 100%;
  margin: 0;
  padding: 0.5vw;
  gap: 1.5vw;
  transition-duration: 1s;
}

.sidePanelContentLoad {
  grid-template-columns: 1fr 0fr;
  gap: 0vw;
  transition-duration: 1s;
}
.chapter, .chapterSelected {
  color: white;
  display: flex;
  font-family: Apple Garamond;
  align-items: center;
  margin: 0.5vw;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
  background-color: oklch(0.2306 0 277);
  border-radius: 6px;
  justify-content: center;
  font-size: 2vw;
  flex-grow: 1;
  transition-duration: 0.4s;
  transition: font-size 1s ease-in-out 1s,
  transform 1s ease-in-out 1s,
  all 0.4s ease-in-out;
  max-height: 100%;
}
@keyframes opacityToHundred {
  to{opacity: 100%;}
}

.chapter:hover {
  background-color: oklch(0.3306 0 277);
}

.chapterSelected {
  color: black;
  background-color: oklch(0.9306 0 277);
  transition-duration: 0.4s;
  flex-grow: 2;
}
.chapterLoad {
  font-size: 0vw;
  transform: scale(1);
}
.chapterBox {
  display: flex;
  flex-grow: 1.5;
  max-width: 50vw;
  width: 49.5vw;
  justify-self: end;
  max-height: 50vh;
  transition-duration: 1s;
  transition-delay: 1s;
  overflow: hidden;
  opacity: 100%;
}
.chapterBoxLoad {
  flex-grow: 0;
  max-width: 0vw;
  max-height: 10vh;
  opacity: 0%;
}
.break {
  flex-basis: 100%;
  height: 0;
  padding: 0;
  margin: 0;
}
.websiteTitle, .chapterTitle {
  display: flex;
  color: white;
  flex-direction: column;
  font-family: Instrument Serif;
  font-size: clamp(2vh, 7vh, 4vw);
  text-wrap: nowrap;
  line-height: 1;
  animation: swapText 0.2s ease-in-out forwards;
  align-items: center;
}
.enterWebsite {
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
}

.chapterTitle {
  color: oklch(0.7 0 0 / 1);
  justify-self: left;
  transition: font-size 1s ease-in-out, color 1s ease-in-out 1s; 
  font-size: clamp(1vh, 4.5vh, 2.5vw);
}

.chapterTitleLoad {
  color: oklch(0.7 0 0 / 0);
  transition: font-size 1s ease-in-out, color 1s ease-in-out; 
  font-size: 0;
}
.websiteTitleLoad {
  justify-self: center;
  animation: l1 1s ease-in-out infinite alternate;
}
@keyframes l1 {to{opacity: 15%}}
.websiteTitleLoaded {
  justify-self: center;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: 0.2s ease-out;
  animation: underLine ease-in-out forwards;
}
.websiteTitleLoaded:hover {
  transform: scale(1.05);
}
@keyframes underLine {to{text-decoration-color: white;text-underline-offset: 6px;}}

.info {
  display: flex;
  position: relative;
  justify-self: start;
  background: oklch(0.1638 0 0);
  background-image: url('assets/Info.svg');
  background-repeat: no-repeat;
  background-size: 2vw;
  z-index: 79;
  background-position: center;
  height: 3vw;
  aspect-ratio: 1/1;
  /* transform: translateY(calc(10vh)); */
  transition: background-color 0.2s ease-in-out 0s,
  transform 1s ease-in-out, 
  opacity 1s ease-in-out,
  visibility 1s ease-in-out;
}
.info:hover {
  background-color: oklch(0.2638 0 0);
}
.infoLoad, .musicBoxLoad {
  visibility: hidden;
  opacity: 0%;
}
@keyframes swapText {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.musicBox {
  z-index: 79;
  position: relative;
  display: grid;
  width: 20vw;
  min-width: fit-content;
  /* width: fit-content; */
  background: black;
  justify-self: end;
  color: white;
  background: oklch(0.1638 0 0);
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  padding: 1vh;
  padding-right: 6vh;
  column-gap: 2vh;
}
.coverReal {
  grid-row: span 3 / span 3;
  aspect-ratio: 1/1;
  max-height: 12vh;
  min-height: stretch;
  animation: swapText 0.2s ease-in-out forwards; 
}
.coverRealImg {
  aspect-ratio: 1/1;
  max-width: 100%;
  max-height: 100%;
  animation: swapText 0.2s ease-in-out forwards; 
}
.songTitle {
  grid-column-start: 2;
  font-family: Apple Garamond;
  align-self: end;
  font-size: 2.2rem;
  max-width: max-content;
  text-wrap: pretty;
  line-height: 1;
  animation: swapText 0.2s ease-in-out forwards; 
}
.songAuthor, .eb-garamond {
  grid-column-start: 2;
  font-size: 1.2rem;
  max-width: fit-content;
  color: oklch(0.8 0 0);
  animation: swapText 0.2s ease-in-out forwards; 
}
.audioControls {
  transform: translateX(-0.6vw);
  max-width: fit-content;
  max-height: fit-content;
}

.audioSvg {
  animation: swapControls 0.1s ease-in-out forwards;

}

@keyframes swapControls {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* .mainCanvas { */
/*   height: 80vh; */
/* } */
.PDF, .Film {
  position: absolute;
  display: grid;
  height: 85vh;
  max-width: 80vw;
  aspect-ratio: 1.414/1;
  background: #0e0e0e;
  border: gainsboro solid 1px;
  transition-duration: 0.5s;
  opacity: 0%;
}
.PDFPage {
  max-width:100%;
}
.closeButton {
  display: flex;
  position: absolute;
  background: white;
  background-image: url('assets/Close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 2vw;
  aspect-ratio: 1/1;
  z-index: 100;
  transform: translateX(calc(-100% - 0.5vw)) translateY(-1px);
}

canvas {
  z-index: -5;
}
@media only screen and (max-width : 768px) {
  .PDF {
    aspect-ratio: 1/1.414;
    max-width: 80vw;
  }
  .sidePanel {
    position: relative;
    height: 10svh;
  }
  .UI {
    height: 100svh
  }
  .closeButton {
    height: 8vw;
    aspect-ratio: 1/1;
    transform: translateX(calc(-100% - 2vw)) translateY(-1px);
  }
  .PDF, .Film {
    height: 55svh;
    max-width: 70vw;
  }
  .chapterBox{
    flex-wrap: wrap;
    gap: 1vw;
    padding: 1vw;
  }
  .chapter{
    min-width: 20%;
    margin: 0;
  }
}
